<div class="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Ruby on Rails Power</h3>
      <%= image_tag('cover1.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>PHP </h3>
      <%= image_tag('cover2.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>JavaScript</h3>
      <%= image_tag('cover3.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>

    <div class="col-md-3 col-sm-3">
      <h3>Java</h3>
      <%= image_tag('cover4.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>CSS3</h3>
      <%= image_tag('cover1.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>HTML5</h3>
      <%= image_tag('cover1.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>AngularJS</h3>
      <%= image_tag('cover2.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>NodeJS</h3>
      <%= image_tag('cover3.jpg') %>
      <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
    </div>
  </div>
</div>
